
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>PiCube</title>
    <link rel="icon" type="image/x-icon" href="img/rubiks_cube.png">
    <link href="css/styles.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="imgs/pi_cube.png">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Chakra+Petch:wght@500;600;700&family=Rubik+Glitch&family=Rubik+Pixels&family=Rubik+Vinyl&family=Sedgwick+Ave+Display&family=Silkscreen:wght@400;700&family=Teko:wght@600&display=swap" rel="stylesheet">
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.8.0/p5.min.js" integrity="sha512-pgK6Wo8doipc/IPQ0ilH3b47ww01345nR9ud1/6Qp0n+lQlEW9zuw6JhysRcUpBY4yKuVZjn1MAkDxbnncuGsQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>