<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body class="noselect noclick">
        <canvas id="SOLVED" class="invis" style="width:90%; height:90%;"></canvas>

        <div class="maincontainer icenter cols  ">
            <div class="titlecontainer jcenter icenter  ">
                <h1 id="piheader">
                    <span class="pi thicc">&pi;</span> Solves a <span class="r thicc">R</span><span
                        class="u thicc">u</span><span class="b thicc">b</span><span class="i thicc">i</span><span
                        class="k thicc">k</span><span class="s thicc">'s</span> Cube
                </h1>
            </div>
            <div class="bigcontainer rows   ">
                <div class="container jcenter icenter cols  ">
                    <div class="movewrap oneheight  ">
                        <div class="cube icenter jcenter  fullw  ">
                            <h2 class="subtitle">Can the sequence of <span class="pi thicc">&pi;</span> digits solve a
                                Rubik's cube?</h2>
                        </div>
                    </div>
                    <div class="cubewrap nineheight cols  ">
                        <div class="cube icenter jleft sevheight  cols ">
                            <!-- <br> -->
                            <div class="fade ">
                                <img id="notation_img1" class="notation crossfade" src="imgs/clockwise_3fnotations.png">
                                <img id="notation_img2" class="notation" src="imgs/counterwise_3fnotations.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container jleft icenter cols ">
                    <div class="cubewrap sixheight   ">
                        <div id="canvastl" class="cube icenter jcenter fullw thalfbord ">
                            <!-- canvas goes here -->
                        </div>
                    </div>
                    <div class="movewrap oneheight">
                        <div class="cube icenter jcenter fullw bhalfbord ">
                            <h2 id="scramble2"><span class="wr">Starting scramble:</span> No Scramble</h2>
                        </div>
                    </div>
                    <div class="movewrap fillbheight thalfbord ">
                        <div class="cube icenter jcenter fullw rows ">
                            <h2>Individual Pi Digits:&nbsp;</h2>
                            <h2 id="digit_queue">| - | - | - | <span class="current">-</span> | - | - | - |</h2>
                        </div>
                    </div>
                    <!-- how to have default space away, to keep it from shifting around -->
                    <div class="movewrap fillbheight bhalfbord ">
                        <div class="cube icenter jright fullw  rows  ">
                            <h2 class="currentdigit tright ">Current Digit#: <span id="curr_digit"
                                    class="current">-#</span> |</h2>
                            <h2 class="currentmove ">&nbsp;Current Move: <span id="curr_move"
                                    class="current">-&nbsp;</span></h2>
                        </div>
                    </div>
                    <figure class="">
                        <img class="footer" src="imgs/pi_cube.png">
                        <figcaption class="">&nbsp;&commat; SolvingSequence 2024</figcaption>
                    </figure>

                    <!-- <button id="read_digit" class="invis" ></button> -->
                    <!-- <button id="write_digit" class="invis" ></button> -->


                </div>
            </div>

        </div>
        <script src="scripts/picube.js" async defer></script>
    </body>


</html>