<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body>

        <div class="maincontainer jspace cols  ">
            <div class="titlecontainer jcenter icenter test1 ">
                <h1>Pi Solves a Rubik's Cube</h1>
            </div>
            <div class="bigcontainer rows  ">
                <div class="container jcenter icenter cols test2 ">
                    <div class="movewrap oneheight test ">
                        <div class="cube icenter jcenter  fullw test1 ">
                            <h1>Can the random digits of Pi end up solving a Rubik's cube?</h1>
                        </div>     
                    </div>
                    <div class="cubewrap nineheight test ">
                        <div class="cube icenter jcenter  fullw test1 ">
                            <h1>Notation</h1>
                        </div>
                    </div>                    
                </div>
                <div class="container jcenter icenter cols test2 ">
                    <div class="cubewrap fourheight ">
                        <div class="cube icenter jcenter halfw test1 ">
                            <h1>Cube 1 no scramble</h1>
                        </div>
                        <div class="cube icenter jcenter halfw test1 ">
                            <h1>cube 2 with first scramble</h1>
                        </div>
                    </div>
                    <div class="movewrap oneheight">
                        <div class="cube icenter jcenter halfw test1 ">
                            <h1>Move 1 - no scramble</h1>
                        </div>
                        <div class="cube icenter jcenter halfw test1 ">
                            <h1>move 2 - first scramble</h1>
                        </div>
                    </div>
                    <div class="cubewrap fourheight">
                        <div class="cube icenter jcenter halfw test1 ">
                            <h1>cube 3 with another scramble</h1>
                        </div>
                        <div class="cube icenter jcenter halfw test1 ">
                            <h1>cube 4 with another scramble</h1>
                        </div>
                    </div>
                    <div class="movewrap oneheight">
                        <div class="cube icenter jcenter halfw test1 ">
                            <h1>move 3 - another scramble</h1>
                        </div>
                        <div class="cube icenter jcenter halfw test1 ">
                            <h1>move 4 - another scramble</h1>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>

</html>