<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body class="noselect noclick">
        <canvas id="SOLVED" class="invis"></canvas>

        <div class="maincontainer icenter cols  ">
            <div class="titlecontainer jcenter icenter  ">
                <h1><span class="pi thicc">&pi;</span> Solves a 
                    <span class="r thicc">R</span><span class="u thicc">u</span><span class="b thicc">b</span><span class="i thicc">i</span><span class="k thicc">k</span><span class="s thicc">'s</span> 
                    Cube</h1>
            </div>
            <div class="bigcontainer rows   ">
                <div class="container jcenter icenter cols  ">
                    <div class="movewrap oneheight  ">
                        <div class="cube icenter jcenter  fullw  ">
                            <h2 class="subtitle">Can each <span class="pi thicc">&pi;</span> digit, from 0-9, solve a Rubik's cube?</h2>
                        </div>     
                    </div>
                    <div class="cubewrap nineheight cols  ">
                        <div class="cube icenter jleft sevheight  cols ">
                            <!-- <br> -->
                            <div class="fade ">
                            <img id="notation_img1" class="notation crossfade" src="imgs/clockwise_notations.png">    
                            <img id="notation_img2" class="notation" src="imgs/counterwise_notations.png">
                        </div>
                        </div>
                   
                    </div>                    
                </div>
                 <div class="container jleft icenter cols ">
                    <div class="cubewrap sixheight   ">
                        <div id="canvastl" class="cube icenter jcenter fullw thalfbord ">
                              
                        </div>
                        <!-- <div id="canvastr" class="cube icenter jcenter halfw thalfbord ">
                             <h2>Cube 2 with first scramble</h2> 
                        </div> -->
                    </div>
                    <div class="movewrap oneheight">
                        <div class="cube icenter jcenter fullw bhalfbord ">                             
                            <h2 id="scramble2"><span class="wr">Starting scramble:</span> No Scramble</h2>
                        </div>
                        <!-- <div id="scramble2" class="cube icenter jcenter halfw bhalfbord ">
                            <h2 id="scramble2"><span class="wr">Starting scramble:</span> U B2 L2 D R2 F' D L2 F' D R2 D U F2 D L2 R' U R' F' </h2>
                        </div> -->
                    </div>
                    <div class="movewrap fillbheight thalfbord ">
                        <div class="cube icenter jcenter fullw rows ">
                            <h2>Individual Pi Digits:&nbsp;</h2>
                            <h2 id="digit_queue">| - | - | - | - | - | - | - |</h2>
                        </div>
                    </div>
                    <!-- how to have default space away, to keep it from shifting around -->
                    <div class="movewrap fillbheight bhalfbord ">
                        <div class="cube icenter jcenter fullw  rows  ">
                            <h2 >Current Move: <span id="curr_move" class="current">-&nbsp;</span> |&nbsp;</h2>
                            <h2 >Current Digit#: <span id="curr_digit" class="current">-</span></h2>
                            
                        </div>
                    </div>
                    <figure class="">
                        <img class="footer" src="imgs/pi_cube.png">
                        <figcaption class="">&nbsp;&commat; SolvingSequence 2024</figcaption></figure>
                        
                        <button id="read_digit" class="invis" onclick="ReadDigit"></button>
                        <button id="write_digit" class="invis" onclick="WriteToFile"></button>
                    <!-- <div class="cubewrap freeheight">
                        <div id="canvasbl" class="cube icenter jcenter halfw thalfbord ">
                            <h2>cube 3 with another scramble</h2>
                        </div>
                        <div id="canvasbr" class="cube icenter jcenter halfw thalfbord ">
                            <h2>cube 4 with another scramble</h2>
                        </div>
                    </div>
                    <div class="movewrap oneheight">
                        <div class="cube icenter tcenter jcenter halfw bhalfbord ">
                            <h2 id="scramble3"><span class="wr">Starting scramble:</span> </h2>
                        </div>
                        <div class="cube icenter jcenter halfw bhalfbord ">
                            <h2 id="scramble4"><span class="wr">World Record Scramble</span>: D U F2 L2 U' B2 F2 D L2 U R' F' D R' F' U L D' F' D R2</h2>
                        </div>
                    </div> -->

                </div>
            </div>
       
        </div>
        <script src="scripts/picube.js" async defer></script>        
    </body>


</html>