<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>
<body>

    <div class="maincontainer jspace cols  ">
        <div class="titlecontainer jcenter acenter test1 ">
            <h1>Pi Solves a Rubik's Cube</h1>
        </div>
        <div class="bigcontainer rows  ">
            <div class="container jcenter acenter test2 ">
                <h1>Notation</h1>
            </div>
            <div class="container jcenter acenter test2 ">
                <h1>Canvas</h1>
            </div>
        </div>
       
    </div>
    
</body>
</html>