<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body class="noselect noclick">

        <div class="maincontainer jspace cols  ">
            <div class="titlecontainer jcenter icenter test1 ">
                <h1>Pi Solves a Rubik's Cube</h1>
            </div>
            <div class="bigcontainer rows  ">
                <div class="container jcenter icenter cols test2 ">
                    <div class="movewrap oneheight  ">
                        <div class="cube icenter jcenter  fullw test1 ">
                            <h1>Can the random digits of Pi end up solving a Rubik's cube?</h1>
                        </div>     
                    </div>
                    <div class="cubewrap nineheight cols  ">
                        <div class="cube icenter jcenter sixheight test1 ">
                            <h1>Notation</h1>
                        </div>
                        Copyright &copy; SolvingSequence 2023
                    </div>                    
                </div>
                <div class="container jcenter icenter cols test2 ">
                    <div class="cubewrap fourheight ">
                        <div id="canvastl" class="cube icenter jcenter halfw test1 ">
                            <!-- <h1>Cube 1 no scramble</h1> -->
                        </div>
                        <div id="canvastr" class="cube icenter jcenter halfw test1 ">
                            <h1>Cube 2 with first scramble</h1>
                        </div>
                    </div>
                    <div class="movewrap oneheight">
                        <div id="move1" class="cube icenter jcenter halfw test1 ">
                            <h1 id="scramble">Move 1 - no scramble</h1>
                        </div>
                        <div id="move2" class="cube icenter jcenter halfw test1 ">
                            <h1>move 2 - first scramble</h1>
                        </div>
                    </div>
                    <div class="cubewrap fourheight">
                        <div id="canvasbl" class="cube icenter jcenter halfw test1 ">
                            <h1>cube 3 with another scramble</h1>
                        </div>
                        <div id="canvasbr" class="cube icenter jcenter halfw test1 ">
                            <h1>cube 4 with another scramble</h1>
                        </div>
                    </div>
                    <div class="movewrap oneheight">
                        <div class="cube icenter jcenter halfw test1 ">
                            <h1>move 3 - another scramble</h1>
                        </div>
                        <div class="cube icenter jcenter halfw test1 ">
                            <h1>move 4 - another scramble</h1>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
        <script src="scripts/picube.js" async defer></script>
    </body>


</html>