<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs') %>

    <body class="noselect noclick">

        <div class="maincontainer icenter cols  ">
            <div class="titlecontainer jcenter icenter  ">
                <h1><span class="pi">&pi;</span> Solves a 
                    <span class="r">R</span><span class="u">u</span><span class="b">b</span><span class="i">i</span><span class="k">k</span><span class="s">'s</span> 
                    Cube</h1>
            </div>
            <div class="bigcontainer rows   ">
                <div class="container jcenter icenter cols  ">
                    <div class="movewrap oneheight  ">
                        <div class="cube icenter jcenter  fullw  ">
                            <h2 class="subtitle">Can the random digits of <span class="pi">&pi;</span>  end up solving a Rubik's cube?</h2>
                        </div>     
                    </div>
                    <div class="cubewrap nineheight cols  ">
                        <div class="cube icenter jcenter sixheight  cols ">
                            <img class="notation" src="imgs/2fnotations.png">
                            <p>Copyright &copy; SolvingSequence 2023</p>
                        </div>
                   
                    </div>                    
                </div>
                <div class="container jcenter icenter cols  ">
                    <div class="cubewrap freeheight ">
                        <div id="canvastl" class="cube icenter jcenter halfw thalfbord ">
                            <!-- <h2>Cube 1 no scramble</h2> -->
                        </div>
                        <div id="canvastr" class="cube icenter jcenter halfw thalfbord ">
                            <h2>Cube 2 with first scramble</h2>
                        </div>
                    </div>
                    <div class="movewrap oneheight">
                        <div class="cube icenter jcenter halfw bhalfbord ">
                            <!-- <h2 id="scramble1">No scramble</h2> -->
                            <h2 id="scramble2"><span class="wr">World Record</span>: D U F2 L2 U' B2 F2 D L2 U R' F' D R' F' U L D' F' D R2 </h2>
                        </div>
                        <div id="scramble2" class="cube icenter jcenter halfw bhalfbord ">
                            <h2 id="scramble2"><span class="wr">World Record</span>: D U F2 L2 U' B2 F2 D L2 U R' F' D R' F' U L D' F' D R2 </h2>
                        </div>
                    </div>
                    <div class="cubewrap freeheight">
                        <div id="canvasbl" class="cube icenter jcenter halfw thalfbord ">
                            <h2>cube 3 with another scramble</h2>
                        </div>
                        <div id="canvasbr" class="cube icenter jcenter halfw thalfbord ">
                            <h2>cube 4 with another scramble</h2>
                        </div>
                    </div>
                    <div class="movewrap oneheight">
                        <div class="cube icenter tcenter jcenter halfw bhalfbord ">
                            <h2 id="scramble3"></h2>
                        </div>
                        <div class="cube icenter jcenter halfw bhalfbord ">
                            <h2 id="scramble4">U B2 L2 D R2 F' D L2 F' D R2 D U F2 D L2 R' U R' F'</h2>
                        </div>
                    </div>
                    <div class="movewrap fillbheight ">
                        <div class="cube icenter jcenter fullw rows ">
                            <h2>Digits:&nbsp;</h2>
                            <h2 id="digit_queue">| - | - | - | - | 3 | 1 | 4 |</h2>
                        </div>
                    </div>
                    <div class="movewrap fillbheight ">
                        <div class="cube icenter jcenter fullw  rows  ">
                            <h2 >Current Move: <span id="curr_move" class="current">-&nbsp;</span> |&nbsp;</h2>
                            <h2 >Curr Digit#: <span id="curr_digit" class="current">0</span></h2>
                            
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
        <script src="scripts/picube.js" async defer></script>
    </body>


</html>