/*   BASE CSS STYLES */
:root {
    --color-dark: #22314E;
    --color-light: #FAF8D9;
}

/*  https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently */
}

.noclick {
    pointer-events: none;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--color-dark);
    transition-duration: 0.3s;
}


h1 {
    font-size: 2em;
    font-family: 'Chakra Petch';
    margin: 0%;
    padding: 0%;
}

h2{
    font-size: 1.8em;
    font-family: 'Chakra Petch';
    margin: 0%;
    padding: 0%;
}

div.maincontainer {
    display: flex;
    padding: 0%;
    margin: 0px;
    height: 95vh;
}


div.bigcontainer {
    display: flex;
    padding: 0%;
    margin: 0%;
    height: 100%;
}
div.titlecontainer {
    display: flex;
    padding: 0%;
    margin-top: 0.5%;
    height: 10%;
    font-size: 2em;
}
div.container {
    display: flex;
    padding: 0%;
    /* margin: 0.5%; */
    width:100%;
    height:100%;
    
}

div.gcontainer {
    display: grid;
    padding: 0%;
    /* margin: 0.5%; */
    width:100%;
    height:100%;
}
div.cubewrap {
    display: flex;
    width: 100%;
}
div.movewrap {
    display: flex;
    width: 100%;
}
div.cube {    
    display: flex;
    padding: 0.15%;
    margin-left: 0.15%;
    margin-right: 0.15%;
}


/* jcenter for rows */
div.rows {
    flex-direction: row;
}

/* acenter for cols */
div.cols {
    flex-direction: column;
}


/*****CUSTOM CSS ******/
.invis {
    visibility: hidden;
}

.big2 {
    font-size: 2em;
}

.jspace {
    justify-content: space-evenly;
}

.jcenter {
    justify-content: center;
}

.jright {
    justify-content: right;
}

.jleft {
    justify-content: left;
}

.jstretch {
    justify-content: stretch;
}

.icenter {
    align-items: center;
}

.istretch {
    align-items: stretch;
}

.tcenter {
    text-align: center;
}

.acenter {
align-content: center;
}

.astretch {
    align-content: stretch;
}

.dmargin {
    margin: 5px;
}

.dpadding {
    padding: 5px;
}



.headingh {
    height: 278px;
}

.indexw {
    width: 560px;
}

.eduw {
    width: 300px;
}

.edubodyw {
    width: 520px;
}

.fixedw {
    width: 600px;
}

.aboutw {
    width: 800px;
}

.projectsw {
    width: 400px;
}

/* absolute position from edges of page */
.shiftr {
    position: absolute;
    left: 500px;
}

.fixedh {
    height: 500px;
}

.validw {
    width: 10px;
    
}

.fullw{
    width: 100%;
}

.fullh {
    height: 100%;
}

.halfw {
    width: 50%;
}

.nineheight {
    height: 90%;
}

.eightheight {
    height: 80%;
}
.sixheight {
    height: 60%;
}

.halfh {
    height: 50%;
}

.fourheight {
    height: 40%;
}

.threeheight {
    height: 30%;
}

.twoheight{
    height: 20%;
}
.oneheight {
    height: 10%;
}

.inherith {
    height: inherit;
}

.inheritw {
    width: inherit;
}

.fright {
    /* float:right; */
    margin-left: auto;
}

.wordwrap {
    inline-size: 940px;
    overflow-wrap: break-word;
}

.tbord {
    border-top: 2.5px solid #6160be;
}

.thalfbord {
    border-top: 2.5px solid #37cd80;
    border-left: 2.5px solid #37cd80;
    border-right: 2.5px solid #37cd80;
}

.bhalfbord {
    border-bottom: 2.5px solid #37cd80;
    border-left: 2.5px solid #37cd80;
    border-right: 2.5px solid #37cd80;
    margin-bottom: 0.3%;
}

/* TESTING */

.test {
    border-radius: 3px;
    border: 2.5px solid #000000;
}

.test1 {
    border-radius: 3px;
    border: 2.5px solid #c85656;
}

.test2 {
    border-radius: 3px;
    border: 2.5px solid #6160be;
}


.test3 {
    border-radius: 3px;
    border: 2.5px solid #37cd80;
}